#label {
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

#saloon_photo {
    width: auto;
    height: auto;
}

h1 {
    font-size: 30pt;
}

.top-sign-images {
    display: flex;
    justify-content: space-between;
}

body {
    background: url(saloon.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.btn {
    display: inline-block; /* Строчно-блочный элемент */
    background: #8C959D; /* Серый цвет фона */
    color: #fff; /* Белый цвет текста */
    padding: 1rem 1.5rem; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 15px; /* Скругляем уголки */
    background-image: url('free-icon-vk-5968835.png');
    background-size: contain;
    background-repeat: no-repeat;
    text-align: right;
    font-size: 20px;
    border: 2px solid black;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    width: 115px;
   }

   #list {
    text-align: left;
    font-size: 20pt;
    color: white;
    text-shadow: 3px 3px 3px #000;
   }

   h1 {
    text-align: center;
    color: white;
    text-shadow: 3px 3px 3px #000;
   }

   footer {
    position:fixed;
    left:0px;
    bottom:70px;
    height:30px;
    width:100%;
    text-align: center;
    color: white;
    text-shadow: 3px 3px 3px #000;
    }

