body {
    background-color: gray;
}

.body {
    display: flex;
    margin: 7%;
    margin-top: 8%;
}

.bus {
    padding-left: 15%;
    text-align: left;
    font-size: 20pt;
    color: white;
    text-shadow: 3px 3px 3px #000;
}