body {
    background-color: gray;
}

.body {
    padding-top: 3%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.map {
    padding-left: 2%;
    text-align: left;
}

.bus {
    padding-left: 6%;
    text-align: left;
    font-size: 20pt;
    color: white;
    text-shadow: 3px 3px 3px #000;
}

.way {
    padding-left: 6%;
    text-align: left;
    font-size: 20pt;
    color: white;
    text-shadow: 3px 3px 3px #000;
    text-align: center
}