body {
    background: grey;
}

.body {
    margin: 10px;
}

.photo {
    width: 250px;
    margin: 5px;
  }

.result {
    display: block; 
    width: 65%; 
    margin-left: auto;
    margin-right: auto;
}