body {
    background-color: gray;

}

.family-block {
    display: flex;
    margin: 3%;
    margin-top: 12%;
}

#back-button-container {
    margin: 1%;
}

.family {
    transform: scale(1.5);
    margin-left: 5%;
}

p {
    padding-left: 15%;
    text-align: left;
    font-size: 20pt;
    color: white;
    text-shadow: 3px 3px 3px #000;
}